/*body {
  background-color: white;
}

h1{
  position:relative;
  font-size: 100%;
  float:right;
  word-wrap: break-word;
}

iframe {
  height: 500px;
  width: 800px;
}

.locationPopup {
  position: absolute;
  top:100px;
  left:20px;
  width: 15%;
}*/

body {
  font-family: 'Montserrat', sans-serif;
}

.button-link {
  float: left;
  display: block;
  width: 100%;
  height: 50px;
  background: #c9c9c9;
  text-align: center;
  color: black;
  font-weight: bold;
}



#image {
  padding: 10px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
  background: #89bdd3;
}

#sidebar {
  position: absolute;
  width: 350px;
  height: 100%;
  left: 0;
  top: 0;
  background: white;
}

#main-page {
  position: absolute;
  right: 0px;
  left: 350px;
  height: 100%;
  top: 0;
}

#side-content {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 100%;
}

/*.tide-type {
  font-weight: bold;
}

.tide-time {
  font-weight: bold;
}*/
