

iframe {
  height: 500px;
  width: 800px;
}



body {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: AppleGothic, sans-serif;

}

.button-link {
  float: left;
  display: block;
  width: 100%;
  height: 50px;

  text-align: center;
  padding:15px;

  font-weight: bold;

}

.side-title {
  text-align: center;
  font-weight: bold;
}

#no-highlight {
  background: #f2cbbc;
  border: 1px solid #f2cbbc;
  border-bottom-color: white;
  color: black;
}

#highlight {
  background: #334431;
  border: 1px solid #334431;
  border-bottom-color: white;
  color: white;
}



#image {
  padding: 10px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  position: absolute;
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
  background: #e05038;
  border: 1px solid #e05038;
  border-bottom-color: white;
}

#sidebar {
  position: absolute;
  width: 350px;
  height: 100%;
  left: 0;
  top: 0;
  background: #e6af4b;


}

#side-buttons {
  position: absolute;
  width: 350px;
  left: 0;
  bottom: 0;
  height: 200px;
  border: 1px solid #e6af4b;
  border-top-color: white;
}

#main-page {
  position: absolute;
  right: 0px;
  left: 350px;
  height: 100%;
  top: 0;
}

#side-content {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 100%;
}

/*.tide-type {
  font-weight: bold;
}

.tide-time {
  font-weight: bold;
}*/
