/*.insta {

  background-color: #ded1c1;
  border: 1px solid #ded1c1;
  border-bottom-color: black;
}*/

.insta-title {
  text-align: center;
  /*font-weight: bold;*/
  color: black;
  /*text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;*/
}

.seperate {
  width: 33%;
  float: left;
  padding: 10px;
}

.insta-image {
  /*display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;*/
  width:100%;
  /*border: 1px solid black;*/
}
