/*TAB STYLING*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 10px 10px 10px;
  overflow: hidden;
  /*background-color: white;*/
}

li {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  outline: none;
  border: 0;
}

#mainView {
  clear: both;
  z-index: -1;
}

.active {
  background-color: #334431;
  color: white;
  opacity: 0.7;
}

/*TABLE STYLING*/
.table {
  background-color: white;
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
  color: black;
  opacity: 0.7;
}

th {
  background: #e05038;
  color: white;
  text-align: center;
}

/*.top-left-cell {
background: transparent;
}*/
