
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    float: left;

    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;

    color: black;
}
#mainView {
	clear: both;
  border: 1px solid white;
  border-top-color: black;
	padding: 0 1em;
  z-index: -1;
}
.active {
    background-color: #4E9CAF;


    color: #000;
}






/*.table {
  background-color: white;
  opacity: 0.7;
  text-align: center;
  font-size: 18px;

}

th {
    background-color: #ff6600;
    color: black;
    white-space: nowrap;
    overflow:hidden;

}

.form-group{
  font-size: 18px;
  color: white;
}*/
