.angular-google-map-container {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
}



.search-box {
width: 400px;
height: 30px;
margin: 40px;
border-radius: 10px;

}

#explain {
  margin-top: 10px;
  font-size: 10pt;
}
