<div id="sidebar">
  <div id="logo">
    <img src="assets/img/black.png" id="image"/>
  </div>
  <div id='side-content'>
    <h1 class="side-title"> {{socialCtrl.currentLocation.name}}</h1>
    <h1>#{{socialCtrl.tag}}</h1>
  </div>
  <div id="side-buttons">
    <a class="button-link" href="#/location/{{socialCtrl.currentLocation.name}}" >Weather</a><br>
    <a class="button-link"  >Social</a><br>
    <a class="button-link" href="#/location/{{socialCtrl.currentLocation.name}}/webcam" >Webcam</a> <br>
    <a class="button-link" href="#/map" >Map</a><br>
  </div>
</div>


<div id="main-page" style="overflow-y: scroll; height:100%;">
  <div class="thin">
  </div>
  <div id='instafeed'></div>
</div>
