
<div ng-show='mapCtrl.show' class='locationPopup'>
  <h1>{{mapCtrl.selected.name}}</h1>
      Temperature: {{mapCtrl.selected.weather.main.temp}}<br>
      Windspeed: {{mapCtrl.selected.weather.wind.speed}}mph<br>
  <a ng-click="mapCtrl.storeLocation(mapCtrl.selected.id)" href="#/location/{{mapCtrl.selected.name}}" > More info</a>
</div>

<div class="angular-google-map-container" >
  <script type="text/ng-template" id="searchbox.tpl.html">
    <input type="text" placeholder="Search Box">
  </script>

  <ui-gmap-google-map
  center='mapCtrl.factory.map.center'
  zoom='mapCtrl.factory.map.zoom'
  options="mapCtrl.factory.options">

    <ui-gmap-search-box id="search-box"
    template="mapCtrl.factory.searchbox.template"
    events="mapCtrl.factory.searchbox.events"
    position="'TOP_RIGHT'">
    </ui-gmap-search-box>

    <ui-gmap-marker id='markers' ng-repeat='marker in mapCtrl.ids' idKey='marker.id' coords='marker.coords' click='mapCtrl.getWeather(marker.id, marker.coords)'
    icon='{url:"//developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png" }'>
    </ui-gmap-marker>

  </ui-gmap-google-map>
</div>
