<div id="logo">
  <img src="assets/img/black.png" id="image"/>
</div>

<div id="sidebar" class="pullDown" ng-show='mapCtrl.isLoaded()'>

      <h1 class="side-title">{{mapCtrl.beach.name}}</h1>
      <div id='informationPopup'>
            Temperature: {{mapCtrl.beachWeather.tempC}} °C<br>
            Windspeed: {{mapCtrl.beachWeather.windspeedMiles}} mph<br>
            Swell height: {{mapCtrl.beachWeather.swellHeight_ft}} ft<br>
            Swell period: {{mapCtrl.beachWeather.swellPeriod_secs}} s<br>
            Gnarometer: {{mapCtrl.gnarLevel}}/10 <a ng-click="mapCtrl.showGnar= true">?</a><br>
            <div id="explain" class="pullDown" ng-show="mapCtrl.showGnar"> The Gnarometer is an algorithmic analysis of the weather and marine conditions at any given location, ranging from 1 to 10. Condition 1 is suitible for your nan to get out there. Condition 10 will give Kelly Slater a hard time! </div>
      </div>


    <div id="side-buttons">
      <a class="button-link" id="highlight" >Map</a><br>
      <a class="button-link" id="no-highlight" ng-click="mapCtrl.storeLocation(mapCtrl.beach.id)" href="#/location/{{mapCtrl.beach.name}}" >Weather</a><br>
      <a class="button-link" id="no-highlight" ng-click="mapCtrl.storeLocation(mapCtrl.beach.id)" href="#/location/{{mapCtrl.beach.name}}/instagram" >Social</a><br>
      <a class="button-link" id="no-highlight" ng-click="mapCtrl.storeLocation(mapCtrl.beach.id)" href="#/location/{{mapCtrl.beach.name}}/webcam">Webcam</a> <br>
    </div>

</div>


<div id="map-page">
  <div class="angular-google-map-container" >
    <script type="text/ng-template" id="searchbox.tpl.html">
    <input type="text" placeholder="Search Box">
    </script>

    <ui-gmap-google-map
      center='mapCtrl.mapFactory.map.center'
      zoom='mapCtrl.mapFactory.map.zoom'
      options="mapCtrl.mapFactory.options">

      <script type="text/ng-template" id="searchbox.tpl.html">
       <input class='search-box' type="text" placeholder="Find surf spot">
       </script>

      <ui-gmap-search-box id="search-box"
        template="mapCtrl.mapFactory.searchboxTemplate()"
        events="mapCtrl.mapFactory.searchboxEvents()"
        position="'TOP_RIGHT'">
      </ui-gmap-search-box>

      <ui-gmap-marker id='markers' ng-repeat='marker in mapCtrl.ids' idKey='marker.id' coords='marker.coords' click='mapCtrl.getWeather(marker.id, marker.coords)'
      icon="../The-app-of-GNAR/images/pin.svg">
      </ui-gmap-marker>

      <ui-gmap-marker
      coords="mapCtrl.mapFactory.myLocation.coords"
      options="mapCtrl.mapFactory.myLocation.options"
      idkey="mapCtrl.mapFactory.myLocation.id">
      </ui-gmap-marker>

    </ui-gmap-google-map>
  </div>
</div>
