<div ng-show='mapCtrl.isLoaded()' class='locationPopup'>

  <h2>{{mapCtrl.beachName}}</h2>
      Temperature: {{mapCtrl.temp}}<br>
      Windspeed: {{mapCtrl.windSpeed}}mph<br>
      Swell height: {{mapCtrl.swellFeet}}<br>
      Swell period: {{mapCtrl.swellPeriod}}<br>
      Gnarometer: {{mapCtrl.gnarLevel}}/10<br>
  <a ng-click="mapCtrl.storeLocation(mapCtrl.beachId)" href="#/location/{{mapCtrl.beachName}}" > More info</a>

</div>

<div class="angular-google-map-container" >
  <script type="text/ng-template" id="searchbox.tpl.html">
  <input type="text" placeholder="Search Box">
  </script>

  <ui-gmap-google-map
    center='mapCtrl.mapFactory.map.center'
    zoom='mapCtrl.mapFactory.map.zoom'
    options="mapCtrl.mapFactory.options">

    <ui-gmap-search-box id="search-box"
      template="mapCtrl.mapFactory.searchboxTemplate()"
      events="mapCtrl.mapFactory.searchbox.events"
      position="'TOP_RIGHT'">
    </ui-gmap-search-box>

    <ui-gmap-marker id='markers' ng-repeat='marker in mapCtrl.ids' idKey='marker.id' coords='marker.coords' click='mapCtrl.getWeather(marker.id, marker.coords)'
    icon='{url:"//developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png" }'>
    </ui-gmap-marker>

    <ui-gmap-marker
    coords="mapCtrl.mapFactory.myLocation.coords"
    options="mapCtrl.mapFactory.myLocation.options"
    idkey="mapCtrl.mapFactory.myLocation.id">
    </ui-gmap-marker>

  </ui-gmap-google-map>
</div>
