<div id="sidebar">
  <div id="logo">
    <img src="assets/img/black.png" id="image"/>
  </div>
  <div id='side-content'>
    <h1 class="side-title"></h1>
  </div>
  <div id="side-buttons">
    <a class="button-link" href="#/location/{{webcamCtrl.currentLocation.name}}" >Weather</a><br>
    <a class="button-link" href="#/location/{{webcamCtrl.currentLocation.name}}/instagram" >Social</a><br>
    <a class="button-link" >Webcam</a> <br>
    <a class="button-link" href="#/map" >Map</a><br>
  </div>
</div>


<div id="main-page">
  <div ng-show='webcamCtrl.show'>
    No Webcam Available For this Beach
  </div>

  <div ng-hide='webcamCtrl.show'>
    <iframe ng-src="{{webcamCtrl.trustSrc(webcamCtrl.webcam)}}" ></iframe>
  </div>
</div>
